<h1><%= @hospital.name %></h1>
<%= link_to 'Index', {action:'index'}, class: "btn btn-primary" %>
<%= link_to 'Edit', {action:'edit', :id => @hospital.id} , class: "btn btn-primary" %>
<p>This hospital has <%= @hospital.hospital_attributes.length %> attributes </p>
<p><%if @hospital.longitude == nil%>
  <strong> This hospital has no geocoding</strong>
  <%= button_to 'Geocode!', {action: 'coords_single', :id => @hospital.id}, class: "btn btn-primary" %>
  <% end %>
</p>
<h2><%= @hospital.name%></h2>
<table class = "table table-bordered table-striped">
  <tr>
    <th>Hospital</th>
  </tr>
  <tr>
    <td>Address</td>
    <td><%= @hospital.streetAndNumber%></td>
  </tr>
  <tr>
    <td>City</td>
    <td><%= @hospital.zipCodeAndCity%></td>
  </tr>
  <tr>
    <td>Longitude</td>
    <td><%= @hospital.longitude%></td>
  </tr>
  <tr>
    <td>Latitude</td>
    <td><%= @hospital.latitude%></td>
  </tr>
</table>
<h2>Locations</h2>
<% @hospital.hospital_locations.each do |loc| %>
  <table class = "table table-bordered table-striped">
    <tr>
      <th>Location</th>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= loc.name%></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= loc.streetAndNumber%></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%=loc.zipCodeAndCity%></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><%= loc.longitude%></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><%= loc.latitude%></td>
    </tr>
  </table>
<% end %>
<h2>Attributes</h2>
<table class = "table table-bordered table-striped">
  <tr>
    <th>Code</th>
    <th>Value</th>
    <th>Year</th>
  </tr>
  <% @hospital.hospital_attributes.each do |attr| %>
  <tr>
    <td><%= attr.code %></td>
    <td><%= attr.value %></td>
    <td><%= attr.year %></td>
  </tr>
    <% end %>
</table>
