extends layout

block content
	h1=title

	ul
	each hospital in hospitalList
		li
			p #{hospital.year} #{hospital.name} #{hospital.coordinates.latitude} #{hospital.coordinates.longitude}

	else
		li There are no hospitals.
