<!DOCTYPE html>
<html>
  <head>
    <title>GeopitalBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%=link_to 'GeopitalBackend',{:controller =>'uploads', :action => 'index'}, id:"logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%=link_to 'Uploads',{:controller =>'uploads', :action => 'index'} %></li>
          <li><%=link_to 'Hospitals',{:controller =>'hospitals', :action => 'index'} %></li>
          <li><%=link_to 'AttributeTypes',{:controller =>'attribute_types', :action => 'index'} %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
