<h1>AttributeTypes</h1>
<h2><%= @types.count %> attributeTypes in the database</h2>
<h2>AttributeTypes</h2>
  <table class = "table table-bordered table-striped">
    <tr>
      <th>Code</th>
      <th>Beschreibung</th>
      <th>Description</th>
      <th>Descrizione</th>
    </tr>
    <% @types.each do |h| %>
    <tr>
      <td><%=h.code%></td>
      <td><%=h.nameDE%></td>
      <td><%=h.nameFR%></td>
      <td><%=h.nameIT%></td>
    </tr>
    <%end%>
  </table>
