<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<h1>Uploaded Files</h1>
<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th> </th>
      </tr>
   </thead>
   <tbody>
      <% @uploads.each do |upload| %>
         <tr>
            <td><%= upload.name  %></td>
            <td><%= link_to "Parse file", {:controller=>'parsers', :action => 'details', :id => upload.id}, class: "btn btn-primary" %></td>
            <td><%= button_to "Delete",  upload, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{upload.name}?" %></td>
         </tr>
      <% end %>
   </tbody>
</table>
<%= link_to "New Upload", uploads_new_path, class: "btn btn-primary" %>
